<!-- templates/home.html -->
{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block content %}
<div class="jumbotron">
<h1 class="display-4">About Financial Dashboard</h1>
<p class="lead">A financial dashboard is a business intelligence tool that allows finance and accounting teams to visualize, track, and report on financial KPIs. Modern dashboards go beyond simple visualization and reporting by leveraging financial analytics to synthesize disparate financial and accounting data and allow analysts to more deeply explore the data and find insights that will reduce costs and improve profitability.</p>
</div>
{% endblock content %}